Todoist Notion.json
{
  "name": "Todoist Notion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        -16
      ],
      "id": "9a02d56d-2812-4e5b-8dd5-a37688314362",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "labelId": "set-notion"
        }
      },
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.1,
      "position": [
        -80,
        -16
      ],
      "id": "1cc37a45-34aa-4bc4-9703-ac48ff4a5b6c",
      "name": "Get many tasks",
      "credentials": {
        "todoistApi": {
          "id": "7gAHwGQuvzBlO0ef",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Todoist Notion Automation\nCreated a Schedule Trigger to Todoist Label Called set-notion ",
        "height": 128
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -176
      ],
      "typeVersion": 1,
      "id": "3636c484-3b31-4f0e-b10d-f9fe1f426134",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "16925942-5663-805a-89e6-c2425a42e213",
          "mode": "list",
          "cachedResultName": "Docs",
          "cachedResultUrl": "https://www.notion.so/169259425663805a89e6c2425a42e213"
        },
        "title": "={{ $json.content }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Tags|multi_select",
              "multiSelectValue": [
                "Engineering"
              ]
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        128,
        -16
      ],
      "id": "7a114716-e49e-4547-a770-62eefe75d562",
      "name": "n8n automations",
      "credentials": {
        "notionApi": {
          "id": "O5AktbmYC0DZHKYF",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Adding Notion Credentials and Executing in the Labels Section\n**Execution Success and Created a hello world note**",
        "height": 112,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -176
      ],
      "typeVersion": 1,
      "id": "f3aee2a2-2b2b-4626-83b6-8b80cd49d472",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "update",
        "taskId": "={{ parseInt($json.id) }}",
        "updateFields": {
          "description": "={{ $json.url }}",
          "labels": [
            "set-notion"
          ]
        }
      },
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.1,
      "position": [
        336,
        -16
      ],
      "id": "6ec6fe6a-135b-45b0-9e44-f1a008077fe7",
      "name": "Update a task",
      "credentials": {
        "todoistApi": {
          "id": "7gAHwGQuvzBlO0ef",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Updating Tasks using Todoist via Notion \n\nIt was Working good !",
        "height": 128,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -192
      ],
      "typeVersion": 1,
      "id": "93c49339-5c55-4865-ae23-df108c269ef2",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many tasks": {
      "main": [
        [
          {
            "node": "n8n automations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n automations": {
      "main": [
        [
          {
            "node": "Update a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f2f1dcea-bba1-4e72-839c-5f429dd20118",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "876cfb335021631f9b16f438cd1b0c790a3b043b502382b35681284bea3a4340"
  },
  "id": "fbJdZaeIWwiaJbwQ",
  "tags": []
}